<app-header title="Edit Recipe" [centeredTitle]="true">
  <div class="start">
    <button class="btn-icon" (click)="back()">
      <img src="assets/icons/arrow-left.svg" />
    </button>
  </div>
</app-header>
<div class="page-container with-header">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-input">
      <input type="text" id="name" formControlName="name" placeholder="Name" />
    </div>

    <div class="form-input">
      <input type="text" id="imagePath" formControlName="imagePath" placeholder="Image URL" #imagePath />
    </div>

    <div class="recipe-img">
      <img [src]="imagePath.value" class="img-responsive" (error)="recipeImgError($event)">
    </div>

    <div class="form-input">
      <textarea type="text" id="description" rows="6" formControlName="description" placeholder="Description" ></textarea>
    </div>

    <div class="ingredients" formArrayName="ingredients">
      <div class="header">
        <h4>Ingredients</h4>
        <button type="button" class="btn primary-outline" (click)="onAddIngredient()">Add</button>
      </div>
      <div class="ingredient" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
        <div class="form-input">
          <input type="text" class="form-control" formControlName="name" placeholder="Name" >
        </div>
        <div class="form-input amount">
          <input type="number" class="form-control" formControlName="amount" >
        </div>
        <button type="button" class="btn-icon" (click)="onDeleteIngredient(i)" >
          <img src="assets/icons/trash-outline.svg" />
        </button>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn primary fill" [disabled]="!recipeForm.valid">Save</button>
    </div>
  </form>
</div>
