<div class="container">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="Recipe Book">
  </div>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-input">
      <input type="email" id="email" ngModel name="email" required email >
    </div>
    <div class="form-input">
      <input type="password" id="password" ngModel name="password" required minlength="6" >
    </div>
    <div class="actions">
      <button class="btn-primary" type="submit" [disabled]="!authForm.valid" >
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
      </button>
      <p class="sign-up">{{ isLoginMode ? "Don't have an account?" : "Already have an account?" }} <a (click)="onSwitchMode()">{{ isLoginMode ? 'Sign Up' : 'Login' }}</a></p>
    </div>
  </form>
</div>
