.container {
    height: 100%;

    .item-img-container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--primary-bg);
        border-radius: 0 0 1rem 1rem;

        .btns {
            position: absolute;
            top: 1rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-inline: 1rem;

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                background: var(--background);
                box-shadow: var(--shadow);
                -webkit-box-shadow: var(--shadow);
                -moz-box-shadow: var(--shadow);

                img {
                    width: 1.5rem;
                }

                &.shopping-cart img {
                    width: 1.25rem;
                    margin-right: .1rem;
                }
            }
        }

        .item-img {
            width: min(780px, 100%);
            aspect-ratio: 5 / 4;
            border-radius: 0 0 1rem 1rem;
            box-shadow: var(--shadow);
            -webkit-box-shadow: var(--shadow);
            -moz-box-shadow: var(--shadow);
        }
    }

    .item-details {
        padding: .75rem 1rem;
        padding-bottom: 2rem;

        .item-section {
            margin-top: 1.25rem;

            &.ingredients {
                .header {
                    font-weight: 600;
                }

                .ingredients-list {
                    list-style-type: none;
                    background-color: var(--item-background);
                    margin-top: .625rem;
                    padding: 0 1rem;
                    border-radius: .5rem;
                    box-shadow: var(--shadow);
                    -webkit-box-shadow: var(--shadow);
                    -moz-box-shadow: var(--shadow);

                    .ingredient {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem .5rem;
                        border-bottom: 1px solid var(--border-light);

                        &:last-child {
                            border-bottom: none;
                        }

                        .amount {
                            font-size: .875rem;
                            font-weight: 600;
                            color: var(--primary);
                            background-color: var(--primary-bg);
                            padding: .25rem .5rem;
                            border-radius: .25rem;
                        }
                    }
                }
            }
            
            .desc {
                margin-top: .625rem;
                opacity: .8;
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--item-background);
        padding-block: .5rem;
        position: fixed;
        z-index: 2;
        bottom: 2rem;
        left: 50%;
        border-radius: .5rem;
        transform: translateX(-50%);
        box-shadow: 0px 1px 3px 0px rgba(var(--text-rgb),0.25);
        -webkit-box-shadow: 0px 1px 3px 0px rgba(var(--text-rgb),0.25);
        -moz-box-shadow: 0px 1px 3px 0px rgba(var(--text-rgb),0.25);

        .action {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--background);
            padding: .5rem 1rem;

            &.edit {
                border-right: 1px solid var(--border);
                color: var(--primary);
            }

            &.delete {
                color: var(--danger);
            }

            h6 {
                color: inherit;
            }

            img {
                margin-right: .4rem;
            }
        }
    }
}