.container {
    background-color: var(--item-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .87rem 1rem;
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.25);
    position: relative;

    h4.centered {
        position: absolute;
        left: 0;
        z-index: 1;
        text-align: center;
        width: 100%;
    }
}