.page-container {
    padding: 1.5rem 1rem;
    
    .ingredients {
        list-style-type: none;
        background-color: var(--item-background);
        margin-top: 1.5rem;
        padding: 0 1rem;
        border-radius: .5rem;
        box-shadow: var(--shadow);
        -webkit-box-shadow: var(--shadow);
        -moz-box-shadow: var(--shadow);

        .ingredient {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem .5rem;
            border-bottom: 1px solid var(--border-light);

            &:last-child {
                border-bottom: none;
            }

            .amount {
                font-size: .875rem;
                font-weight: 600;
                color: var(--primary);
                background-color: var(--primary-bg);
                padding: .25rem .5rem;
                border-radius: .25rem;
            }
        }
    }
}