<app-header title="Shopping List" [centeredTitle]="true">
    <div class="start">
        <button class="btn-icon" (click)="back()">
        <img src="assets/icons/arrow-left.svg" />
        </button>
    </div>
</app-header>
<div class="page-container with-header">
    <app-shopping-edit></app-shopping-edit>
    <ul class="ingredients" >
        <a class="ingredient" *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)">
            <p class="name">{{ ingredient.name }}</p>
            <p class="amount">{{ ingredient.amount }}</p>
        </a>
    </ul>
</div>
